



<div class="row">





<% @courses.each_slice(2) do |courses| %>
  <div class="col-lg-6">
    <% courses.each do |course| %>
      <h3><%= course.title %></h3>
         <p>$<%= course.fee %></p>
           <%= link_to 'View', course_path(course) %>

     <% end %></div>
     <% end %>
     

</div>
